@model JwtAuthDemo.Models.Info.CertificationsLicensces

@{
    ViewData["Title"] = "details";
}

<h1>details</h1>

<div>
    <h4>CertificationsLicensces</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRCLicense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRCLicense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherCertification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherCertification)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
